<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration App</title>
</head>
<body>
    <h1>Thank you for your registration!</h1>
    <p>First Name: <%= details.fname %></p>
    <p>Last Name: <%= details.lname %></p>
</body>
</html>
