<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration App</title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <h1>Registrater Now!</h1>
    <p>Please add your name to register for this event.</p>
    <form method="POST" action="/confirm">
        <label>
            First Name: <input type="text" name="firstName" value="<%= data.firstName %>">
        </label>
        <label>
            Last Name: <input type="text" name="lastName" value="<%= data.lastName %>">
        </label>
        <label>
            Email: <input type="text" name="email" value="<%= data.email %>">
        </label>
        <% if (errors) { %>
            <ul class="errors">
                <% errors.forEach((error) => { %>
                    <li><%= error %></li>
                <% }) %>
            </ul>
        <% } %>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
<!-- 
    h1 that gives us the name of the app / title, 
    form that has inputs for first / last name and a submit button 
-->